.boks {
  display: flex;
  background-color: rgb(52, 58, 64);
  margin: auto;
  margin-top: 50px;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.boks h1 {
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

.rundtalt {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.wrapper {
  height: 100%;
}
.postwrapper {
  display: flex;
  flex-direction: column;
}
#postBox {
  margin-left: 5px;
  margin-top: 10px;
  border: solid #212529 3px;
  border-radius: 5px;
  padding: 5px;
  width: 80%;
  height: 80px;
  background-color: rgb(52, 58, 64);
  overflow: hidden;
  text-overflow: ellipsis;
  color: white;
  white-space: nowrap;
}
a {
  color: white;
}
