{% extends 'base.html' %} {% block content %} {% load static%}

<link rel="stylesheet" href="{%static 'css/login.css' %}" />
<link rel="stylesheet" href="{%static 'css/account/profile.css' %}" />

<div class="container">
  <div class="card bg-dark text-white my-3">
    <div class="card-body">
      <button
        class="float-right btn btn-danger"
        onclick="location.href='{% url 'view_profile' user.username %}'"
      >
        Tilbake til profil (ikke lagre)
      </button>
      <div class="profile-big-box">
        {% if user.userprofile.image %}
        <img
            alt="profile pic"
          class="rounded-circle square-img"
          src="{{ user.userprofile.image.url }}"
        />
        {% endif %}
        <h1>{{user}}</h1>
        <hr />
        <form method="post">
          {% csrf_token %} {{ form.as_p}}
          <button class="btn btn-success" type="submit">Fullfør</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
