{%extends 'base.html' %} {% block content %} {% load static%}
<head>
  <meta charset="UTF-8" />
  <title>User Post Submission</title>
  <link
    href='{%static "vendor/bootstrap/css/bootstrap.min.css" %}'
    rel="stylesheet"
  />
</head>
<div class="container">
  <div class="card bg-dark text-white my-3">
    <div class="card-body">
      <form action="" method="post">
        {% csrf_token %}
        <label for="titleInput" class="text-danger">
          Tittel
          <br />
          <input type="text" class="titleInput" name="postTitle" required />
        </label>
        <br/>
        <label for="emnenavn" class="text-danger">
          Emne
          <select name="emnenavn" class="custom-select" required>
            {% if emner %}
              {% for emne in emner %}
                <option value="{{ emne.emnenavn }}">{{ emne.emnenavn }}</option>
              {% endfor %}
            {% endif %}
          </select>
        </label>
        <br/>
        <br/>
        <label for="descInput" class="text-danger" style="width: 100%;">Innhold
          <br/>
          <textarea
              rows="5"
              class="form-control"
              name="postDesc"
              required
          ></textarea>
        </label>
        <br/>
        <input
            type="submit"
            class="btn btn-danger"
            name="submitPost"
            value="Legg ut tråd"
        />
      </form>
    </div>
  </div>
</div>
{% endblock %}
