<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

{% load static %}

<head>
    <link href= '{%static "//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" %}' rel="stylesheet" id="bootstrap-css">
    <script src='{%static "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" %}'></script>
    <script src='{%static "//code.jquery.com/jquery-1.11.1.min.js" %}'></script>
<head>

<!--<div class="container">
    <div class="span3 well">
        <center>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal"><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQQn6_Hz9zTckXYuOa1biiMhulnHv6pKtadAFcdg79yocrL3Y29" name="aboutme" width="140" height="140" class="img-circle"></a>
        <h3 style="color:#fff;">Navn</h3>
        <em style="color: #fff">click my face for more</em>
		</center>
    </div>-->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">More About Me</h4>
                    </div>
                <div class="modal-body">
                    <center>
                    <img src="http://t1.gstatic.com/images?q=tbn:ANd9GcQQn6_Hz9zTckXYuOa1biiMhulnHv6pKtadAFcdg79yocrL3Y29" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                    <h3 class="media-heading"> <small>Me</small></h3>
                    <span><strong>Skills: </strong></span>
                        <span class="label label-warning"></span>
                        <span class="label label-info">Sosialt Akseptert</span>
                        <span class="label label-success"></span>
                    </center>
                    <hr>
                    <center>
                    <p class="text-left"><strong>Bio: </strong><br>
                        Beast of a man.</p>
                    <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                    <!--<button type="button" class="btn btn-default" data-dismiss="modal">Back</button>-->
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}